/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:hover {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* For Firefox */
::-moz-scrollbar {
  width: 5px;
}

::-moz-scrollbar:hover {
  width: 8px;
}

::-moz-scrollbar-track {
  background-color: inherit;
}

::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* For Internet Explorer and Edge */
::-ms-scrollbar {
  width: 5px;
}

::-ms-scrollbar:hover {
  width: 8px;
}

::-ms-scrollbar-track {
  background-color: inherit;
}

::-ms-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.ant-float-btn .ant-float-btn-body .ant-float-btn-content .ant-float-btn-icon {
  width: auto;
  height: auto;
}
.ant-float-btn-content .ant-float-btn-icon svg {
  width: 36px;
  height: 36px;
}
.ant-typography a {
  color: #688272;
}
/*--------------------------------------------------------------------------------------------------------------------*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
}
.ant-breadcrumb-link a {
  height: auto;
  text-transform: capitalize;
}
.main-header .header-logo {
  width: 150px;
  height: auto;
  position: static;
}
.main-drawer .ant-menu .ant-menu-item {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-block: 10px;
}
.main-drawer .ant-menu svg {
  width: 20px;
  height: 20px;
}
/*--------------------------------------------------------------------------------------*/
.explore .main-title {
  position: relative;
  width: 100%;
  font-weight: 700;
  padding: 0 1rem;
}

.explore .main-title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  left: 0;
  border-radius: 999px;
  background-color: #688272;
}
/*--------------------------------------------------------------------------------------*/

.hero .hero-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.hero .hero-swiper .swiper-slide .ant-card {
  padding: 0.5rem;
}
.hero .hero-swiper .swiper-slide img {
  width: 280px;
  height: 250px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.4s ease-in-out;
}
.hero .hero-swiper .swiper-slide-active img {
  height: 280px;
}

/*-----------------------------------------------------------------------------------------*/
.collection .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;

  height: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.collection .main-title {
  position: relative;
  font-weight: 700;
  padding: 0 1rem;
  margin: 1rem 0;
}
.collection .main-title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  left: 0;
  border-radius: 999px;
  background-color: #688272;
}
.footer .ant-list li {
  color: #fff;
  font-size: 0.9rem;
  padding: 0.2rem 0;
}

/*------------------------------------------------------------------------------------------------------*/
.quantity-selector .ant-input-number-input {
  width: 100%;
  text-align: center;
}
.quantity-selector .ant-input-number-group-addon {
  padding: 0 0;
}
.quantity-selector .ant-input-number-group-addon button {
  width: 30px;
  height: 30px;
  border-radius: 0;
}
/*------------------------------------------------------------------------------------------------------*/
.products-images .mySwiper1 {
  width: auto;
  height: auto;
  border-radius: 0.5rem;
}
.products-images .mySwiper1 .swiper-button-next,
.products-images .mySwiper1 .swiper-button-prev {
  color: #688272;
  opacity: 0.5;
}
.products-images .mySwiper1 .swiper-slide {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243 244 246);
  border-radius: 5px;
}
.products-images .mySwiper1 .swiper-slide img {
  height: 55vh;
  min-height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.products-images .mySwiper2 {
  box-sizing: border-box;
  padding: 10px 0;
  border-radius: 5px;
}

.products-images .mySwiper2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  opacity: 0.4;
  border-radius: 5px;
}

.products-images .mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}
.products-images .mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}
/*-----------------------------------------------------------------------------------------*/
.products-section-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5rem;
}
.products-section-card .ant-card-cover .ant-image {
  width: 270px;
  height: 100%;
  border-radius: 8px;
}
.products-section-card .ant-card-cover .ant-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.products-section-card .ant-card-body {
  width: 220px;
}
/*-----------------------------------------------------------------------------------------*/
@media (max-width: 768px) {
  .main-header .header-logo {
    width: 130px;
    height: auto;
    position: static;
  }
  .cart .ant-row {
    display: flex;
    flex-direction: column-reverse;
  }
  .cart .ant-table thead {
    display: none;
  }
  .cart .ant-table .ant-table-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .cart .ant-table .ant-table-row .ant-table-cell {
    border-bottom: none;
  }
  .cart .ant-table .ant-table-row .ant-table-cell:nth-child(2) {
    max-width: 40%;
  }
  .cart .ant-table .ant-table-row > .ant-table-cell-row-hover {
    background: transparent;
  }
  /*---------------------------------------------------------------------------*/
  .products-section-card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
  .products-section-card .ant-card-cover .ant-image {
    width: 300px;
    max-width: 100%;
    height: 250px;
    border-radius: 8px;
  }
  .products-section-card .ant-card-cover .ant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }
  .products-section-card .ant-card-body {
    width: 100%;
  }
}
